@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
  font-family: 'DM Mono', monospace;
  background-color: #212121;
  padding: 0;
  margin: 0;
}

#container {
  width: 600px;
  height: auto;
  margin: 100px auto;
  position: relative;
}

#content-block {
  padding-bottom: 2rem;
}

/* header styling  */
.navbar-container {
    flex: 0 auto;
    margin: -20px;
    width: 50px;
    position: relative;
    margin: 100px auto;
    background-color: transparent;
    font-family: 'DM Sans', sans-serif;
}

.site-title {
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #fff;
    font-family: Montserrat, sans-serif;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
}

.header-container {
}

/* header styling ends */

/* body styling  */
.projects-container {
}

.codepens-container {
}

.body-subtitle {
  margin: 0;
  padding: 0;
  font-size: 2em;
  text-align: left;
  color: white;
}

.body-text {
  text-align: left;
  font-size: 18px;
  color: white;
}

#intro {
  white-space: nowrap;
  color: white;
  border-right: solid 3px white;
  font-size: 18px;
  overflow: hidden;
  position: relative;
  animation: animated-text 3s steps(29,end) 1s 1 normal both,
  animated-cursor 600ms steps(29,end) infinite;
  width: 480px;
  vertical-align: top;
}

@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 270px;
  }
}

@keyframes animated-cursor{
  from {
    border-right-color: grey;
  }
  to {
    border-right-color: transparent;
  }
}

/* body styling ends */
/* footer styling  */
.footer-container {
  position: relative;
  color: white;
  font-size: 12px;
  bottom: 0;
  width: 100%;
  height: auto;
}
/* footer styling ends  */
