@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap');

body {
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Roboto Mono', monospace;
  background-color: #111111;
  color: white;
  letter-spacing: .22px;
  padding: 0;
  margin: 0;
}

#container {
  width: 450px;
  height: auto;
  margin: 100px auto;
  position: relative;
  font-size: 14px;
}

#content-block {
  padding-bottom: 2rem;
}

/* header styling  */
.navbar-container {
  flex: 0 auto;
  width: 50px;
  position: relative;
  margin: 100px auto;
  background-color: transparent;
  font-family: 'DM Sans', sans-serif;
}

.site-title {
  padding: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
}

/* header styling ends */
/* body styling  */
.body-subtitle {
  margin: 0;
  padding: 0;
  padding-bottom: 5px;
  font-size: 22px;
  text-align: left;
  color: white;
}

#body-text {
  text-align: left;
  font-size: 14px;
}

.learning-container {
  display: flex;
}

.currently-learning {
  width: 50%;
}

.enjoy-coding {
  width: 50%;
}

.project-body-link:visited {
  color: inherit;
}

.project-body-link:hover {
  background-color: grey;
  padding-left: 5px;
}

code {
  padding: 1px 5px;
  border-radius: 3px;
  background-color: #2f525c;   /* dark blue */
}

#intro {
  display: inline-block;
  white-space: nowrap;
  color: #fff;
  border-right: solid 3px white;
  font-size: 14px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  animation: animated-text 3s steps(30,end) .5s 1 normal both,
  animated-cursor 600ms steps(29,end) infinite;
  width: 480px;
  vertical-align: top;
}

.intro-link {
  text-decoration: none;
}

.intro-link:visited {
  color: inherit;
}

.intro-link:hover {
  color: grey;
}

a:link {
  color: inherit;
}

a:active {
  color:inherit;
}

@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 268px;
  }
}

@keyframes animated-cursor {
  from {
    border-right-color: grey;
  }
  to {
    border-right-color: transparent;
  }
}

/* body styling ends */
/* footer styling  */
.footer-container {
  position: relative;
  bottom: 0;
  width: 100%;
  height: auto;
  padding-top: 50px;
}

.footer-block {
  position: relative;
  bottom: 0;
  margin: 0;
  display: inline-block;
  width: 100%;
  text-align: center;
  padding-bottom: 3em;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-list {
  display: inline-block;
  border-right: 1px solid white;
  margin-right: 10px;
}

.footer-text {
  color: #737373;
  position: static;
  font-size: 12px;
}

a.footer-links:link {
  color: inherit;
  margin-right: 10px;
}

a.footer-links:visited {
  color: inherit;
}

a.footer-links:hover {
  color: white;
}

.footer-list:last-child {
  border-right: 0;
}

/* footer styling ends  */
/* logos styling ends  */
.fa-github {
  font-size: 14px;
  color: white;
}

.fa-linkedin-in {
  font-size: 14px;
  color: white;
}

.fa-github:hover {
  color: grey;
}

.fa-linkedin-in:hover {
  color: grey;
}


/* logos styling ends  */
/* laptop styling begins  */
@media(min-width: 768px) { /* 768px (small) */
  #container {
    width: 670px;
    height: auto;
    margin: 50px 0 0 400px;
    /* margin: 100px auto; */
    position: relative;

  }
  .site-title {
    font-size: 24px;
    font-weight: 700;
  }

  .body-title {
    font-size: 24px;
  }

  #intro {
    font-size: 16px;
  }

  #container {
    font-size: 16px;
  }

  #body-text {
    font-size: 16px;
  }

  .footer-text {
    font-size: 12px;
  }
  .fa-github {
    font-size: 18px;
  }

  .fa-linkedin-in {
    font-size: 18px;
  }

  @keyframes animated-text {
    from {
      width: 0;
    }
    to {
      width: 306px;
    }
  }
}
